DnD_UT-Backend.sln
GameApi/bin/Debug/net9.0/out/appsettings.Development.json
GameApi/bin/Debug/net9.0/out/appsettings.json
GameApi/bin/Debug/net9.0/out/DndApi.deps.json
GameApi/bin/Debug/net9.0/out/DndApi.runtimeconfig.json
GameApi/bin/Debug/net9.0/out/DndApi.staticwebassets.endpoints.json
GameApi/bin/Debug/net9.0/out/web.config
GameApi/bin/Debug/net9.0/publish/appsettings.Development.json
GameApi/bin/Debug/net9.0/publish/appsettings.json
GameApi/bin/Debug/net9.0/publish/DndApi.deps.json
GameApi/bin/Debug/net9.0/publish/DndApi.runtimeconfig.json
GameApi/bin/Debug/net9.0/publish/DndApi.staticwebassets.endpoints.json
GameApi/bin/Debug/net9.0/publish/out/appsettings.Development.json
GameApi/bin/Debug/net9.0/publish/out/appsettings.json
GameApi/bin/Debug/net9.0/publish/out/DndApi.deps.json
GameApi/bin/Debug/net9.0/publish/out/DndApi.runtimeconfig.json
GameApi/bin/Debug/net9.0/publish/out/DndApi.staticwebassets.endpoints.json
GameApi/bin/Debug/net9.0/publish/out/web.config
GameApi/bin/Debug/net9.0/publish/web.config
GameApi/bin/Release/net9.0/appsettings.Development.json
GameApi/bin/Release/net9.0/appsettings.json
GameApi/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/de/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/DndApi.deps.json
GameApi/bin/Release/net9.0/DndApi.dll
GameApi/bin/Release/net9.0/DndApi.exe
GameApi/bin/Release/net9.0/DndApi.pdb
GameApi/bin/Release/net9.0/DndApi.runtimeconfig.json
GameApi/bin/Release/net9.0/DndApi.staticwebassets.endpoints.json
GameApi/bin/Release/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/es/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/Humanizer.dll
GameApi/bin/Release/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/it/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/appsettings.Development.json
GameApi/bin/Release/net9.0/linux-x64/appsettings.json
GameApi/bin/Release/net9.0/linux-x64/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/cs/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/de/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/de/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/DndApi
GameApi/bin/Release/net9.0/linux-x64/DndApi.deps.json
GameApi/bin/Release/net9.0/linux-x64/DndApi.dll
GameApi/bin/Release/net9.0/linux-x64/DndApi.pdb
GameApi/bin/Release/net9.0/linux-x64/DndApi.runtimeconfig.json
GameApi/bin/Release/net9.0/linux-x64/DndApi.staticwebassets.endpoints.json
GameApi/bin/Release/net9.0/linux-x64/es/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/es/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/fr/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/Humanizer.dll
GameApi/bin/Release/net9.0/linux-x64/it/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/it/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ja/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ko/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.AspNetCore.Authentication.JwtBearer.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.AspNetCore.OpenApi.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Bcl.AsyncInterfaces.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Build.Locator.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.CodeAnalysis.CSharp.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.CodeAnalysis.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.CodeAnalysis.Workspaces.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.EntityFrameworkCore.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.EntityFrameworkCore.Design.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.EntityFrameworkCore.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.EntityFrameworkCore.Relational.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Caching.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Caching.Memory.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Configuration.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.DependencyInjection.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.DependencyInjection.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.DependencyModel.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Logging.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Logging.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Options.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.Extensions.Primitives.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.IdentityModel.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.IdentityModel.JsonWebTokens.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.IdentityModel.Logging.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.IdentityModel.Protocols.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.IdentityModel.Tokens.dll
GameApi/bin/Release/net9.0/linux-x64/Microsoft.OpenApi.dll
GameApi/bin/Release/net9.0/linux-x64/Mono.TextTemplating.dll
GameApi/bin/Release/net9.0/linux-x64/MySqlConnector.dll
GameApi/bin/Release/net9.0/linux-x64/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pl/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/Pomelo.EntityFrameworkCore.MySql.dll
GameApi/bin/Release/net9.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/publish/appsettings.Development.json
GameApi/bin/Release/net9.0/linux-x64/publish/appsettings.json
GameApi/bin/Release/net9.0/linux-x64/publish/DndApi
GameApi/bin/Release/net9.0/linux-x64/publish/DndApi.deps.json
GameApi/bin/Release/net9.0/linux-x64/publish/DndApi.dll
GameApi/bin/Release/net9.0/linux-x64/publish/DndApi.pdb
GameApi/bin/Release/net9.0/linux-x64/publish/DndApi.runtimeconfig.json
GameApi/bin/Release/net9.0/linux-x64/publish/DndApi.staticwebassets.endpoints.json
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.AspNetCore.OpenApi.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.EntityFrameworkCore.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.EntityFrameworkCore.Relational.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Caching.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Caching.Memory.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Configuration.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.DependencyInjection.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Logging.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Logging.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Options.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.Extensions.Primitives.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.IdentityModel.Abstractions.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.IdentityModel.JsonWebTokens.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.IdentityModel.Logging.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.IdentityModel.Protocols.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.IdentityModel.Tokens.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Microsoft.OpenApi.dll
GameApi/bin/Release/net9.0/linux-x64/publish/MySqlConnector.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Pomelo.EntityFrameworkCore.MySql.dll
GameApi/bin/Release/net9.0/linux-x64/publish/publish/appsettings.Development.json
GameApi/bin/Release/net9.0/linux-x64/publish/publish/appsettings.json
GameApi/bin/Release/net9.0/linux-x64/publish/publish/DndApi.deps.json
GameApi/bin/Release/net9.0/linux-x64/publish/publish/DndApi.runtimeconfig.json
GameApi/bin/Release/net9.0/linux-x64/publish/publish/DndApi.staticwebassets.endpoints.json
GameApi/bin/Release/net9.0/linux-x64/publish/Scalar.AspNetCore.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Swashbuckle.AspNetCore.Swagger.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
GameApi/bin/Release/net9.0/linux-x64/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
GameApi/bin/Release/net9.0/linux-x64/publish/System.IdentityModel.Tokens.Jwt.dll
GameApi/bin/Release/net9.0/linux-x64/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ru/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/Scalar.AspNetCore.dll
GameApi/bin/Release/net9.0/linux-x64/Swashbuckle.AspNetCore.Swagger.dll
GameApi/bin/Release/net9.0/linux-x64/Swashbuckle.AspNetCore.SwaggerGen.dll
GameApi/bin/Release/net9.0/linux-x64/Swashbuckle.AspNetCore.SwaggerUI.dll
GameApi/bin/Release/net9.0/linux-x64/System.CodeDom.dll
GameApi/bin/Release/net9.0/linux-x64/System.Composition.AttributedModel.dll
GameApi/bin/Release/net9.0/linux-x64/System.Composition.Convention.dll
GameApi/bin/Release/net9.0/linux-x64/System.Composition.Hosting.dll
GameApi/bin/Release/net9.0/linux-x64/System.Composition.Runtime.dll
GameApi/bin/Release/net9.0/linux-x64/System.Composition.TypedParts.dll
GameApi/bin/Release/net9.0/linux-x64/System.IdentityModel.Tokens.Jwt.dll
GameApi/bin/Release/net9.0/linux-x64/System.Text.Json.dll
GameApi/bin/Release/net9.0/linux-x64/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/tr/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hans/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hant/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/linux-x64/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
GameApi/bin/Release/net9.0/Microsoft.AspNetCore.OpenApi.dll
GameApi/bin/Release/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
GameApi/bin/Release/net9.0/Microsoft.Build.Locator.dll
GameApi/bin/Release/net9.0/Microsoft.CodeAnalysis.CSharp.dll
GameApi/bin/Release/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
GameApi/bin/Release/net9.0/Microsoft.CodeAnalysis.dll
GameApi/bin/Release/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
GameApi/bin/Release/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
GameApi/bin/Release/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
GameApi/bin/Release/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
GameApi/bin/Release/net9.0/Microsoft.EntityFrameworkCore.Design.dll
GameApi/bin/Release/net9.0/Microsoft.EntityFrameworkCore.dll
GameApi/bin/Release/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Caching.Memory.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.DependencyInjection.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.DependencyModel.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Logging.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Options.dll
GameApi/bin/Release/net9.0/Microsoft.Extensions.Primitives.dll
GameApi/bin/Release/net9.0/Microsoft.IdentityModel.Abstractions.dll
GameApi/bin/Release/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
GameApi/bin/Release/net9.0/Microsoft.IdentityModel.Logging.dll
GameApi/bin/Release/net9.0/Microsoft.IdentityModel.Protocols.dll
GameApi/bin/Release/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
GameApi/bin/Release/net9.0/Microsoft.IdentityModel.Tokens.dll
GameApi/bin/Release/net9.0/Microsoft.OpenApi.dll
GameApi/bin/Release/net9.0/Mono.TextTemplating.dll
GameApi/bin/Release/net9.0/MySqlConnector.dll
GameApi/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/Pomelo.EntityFrameworkCore.MySql.dll
GameApi/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/Scalar.AspNetCore.dll
GameApi/bin/Release/net9.0/Swashbuckle.AspNetCore.Swagger.dll
GameApi/bin/Release/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
GameApi/bin/Release/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
GameApi/bin/Release/net9.0/System.CodeDom.dll
GameApi/bin/Release/net9.0/System.Composition.AttributedModel.dll
GameApi/bin/Release/net9.0/System.Composition.Convention.dll
GameApi/bin/Release/net9.0/System.Composition.Hosting.dll
GameApi/bin/Release/net9.0/System.Composition.Runtime.dll
GameApi/bin/Release/net9.0/System.Composition.TypedParts.dll
GameApi/bin/Release/net9.0/System.IdentityModel.Tokens.Jwt.dll
GameApi/bin/Release/net9.0/System.Text.Json.dll
GameApi/bin/Release/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
GameApi/bin/Release/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
GameApi/bin/Release/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GameApi/bin/Release/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
GameApi/bin/Release/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
GameApi/bin/Release/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
