# Build results
/Gameapi/bin/
/obj/
/Debug/

# Visual Studio files
.vs/
*.sln.ide

# User-specific files
*.user
*.suo
*.userprefs

# Rider files
.idea/

# Logs
*.log

# NuGet packages
*.nupkg
**/packages/*

# Ignore runtime 5etools static assets (copied to server via script)
/wwwroot/5etools/
/wwwroot/5etools-img/